<div class="piano-container" data-controller="piano">
  <h1 class="piano-title">Piano</h1>

  <div class="piano" data-piano-target="keyboard">
    <%# Octave 3 %>
    <div class="key white" data-note="C3" data-key="a" data-piano-target="key" data-action="mousedown->piano#playNote mouseup->piano#stopNote mouseleave->piano#stopNote touchstart->piano#playNote touchend->piano#stopNote">
      <span class="key-label">A</span>
    </div>
    <div class="key black" data-note="C#3" data-key="w" data-piano-target="key" data-action="mousedown->piano#playNote mouseup->piano#stopNote mouseleave->piano#stopNote touchstart->piano#playNote touchend->piano#stopNote">
      <span class="key-label">W</span>
    </div>
    <div class="key white" data-note="D3" data-key="s" data-piano-target="key" data-action="mousedown->piano#playNote mouseup->piano#stopNote mouseleave->piano#stopNote touchstart->piano#playNote touchend->piano#stopNote">
      <span class="key-label">S</span>
    </div>
    <div class="key black" data-note="D#3" data-key="e" data-piano-target="key" data-action="mousedown->piano#playNote mouseup->piano#stopNote mouseleave->piano#stopNote touchstart->piano#playNote touchend->piano#stopNote">
      <span class="key-label">E</span>
    </div>
    <div class="key white" data-note="E3" data-key="d" data-piano-target="key" data-action="mousedown->piano#playNote mouseup->piano#stopNote mouseleave->piano#stopNote touchstart->piano#playNote touchend->piano#stopNote">
      <span class="key-label">D</span>
    </div>
    <div class="key white" data-note="F3" data-key="f" data-piano-target="key" data-action="mousedown->piano#playNote mouseup->piano#stopNote mouseleave->piano#stopNote touchstart->piano#playNote touchend->piano#stopNote">
      <span class="key-label">F</span>
    </div>
    <div class="key black" data-note="F#3" data-key="t" data-piano-target="key" data-action="mousedown->piano#playNote mouseup->piano#stopNote mouseleave->piano#stopNote touchstart->piano#playNote touchend->piano#stopNote">
      <span class="key-label">T</span>
    </div>
    <div class="key white" data-note="G3" data-key="g" data-piano-target="key" data-action="mousedown->piano#playNote mouseup->piano#stopNote mouseleave->piano#stopNote touchstart->piano#playNote touchend->piano#stopNote">
      <span class="key-label">G</span>
    </div>
    <div class="key black" data-note="G#3" data-key="y" data-piano-target="key" data-action="mousedown->piano#playNote mouseup->piano#stopNote mouseleave->piano#stopNote touchstart->piano#playNote touchend->piano#stopNote">
      <span class="key-label">Y</span>
    </div>
    <div class="key white" data-note="A3" data-key="h" data-piano-target="key" data-action="mousedown->piano#playNote mouseup->piano#stopNote mouseleave->piano#stopNote touchstart->piano#playNote touchend->piano#stopNote">
      <span class="key-label">H</span>
    </div>
    <div class="key black" data-note="A#3" data-key="u" data-piano-target="key" data-action="mousedown->piano#playNote mouseup->piano#stopNote mouseleave->piano#stopNote touchstart->piano#playNote touchend->piano#stopNote">
      <span class="key-label">U</span>
    </div>
    <div class="key white" data-note="B3" data-key="j" data-piano-target="key" data-action="mousedown->piano#playNote mouseup->piano#stopNote mouseleave->piano#stopNote touchstart->piano#playNote touchend->piano#stopNote">
      <span class="key-label">J</span>
    </div>

    <%# Octave 4 %>
    <div class="key white" data-note="C4" data-key="k" data-piano-target="key" data-action="mousedown->piano#playNote mouseup->piano#stopNote mouseleave->piano#stopNote touchstart->piano#playNote touchend->piano#stopNote">
      <span class="key-label">K</span>
    </div>
    <div class="key black" data-note="C#4" data-key="o" data-piano-target="key" data-action="mousedown->piano#playNote mouseup->piano#stopNote mouseleave->piano#stopNote touchstart->piano#playNote touchend->piano#stopNote">
      <span class="key-label">O</span>
    </div>
    <div class="key white" data-note="D4" data-key="l" data-piano-target="key" data-action="mousedown->piano#playNote mouseup->piano#stopNote mouseleave->piano#stopNote touchstart->piano#playNote touchend->piano#stopNote">
      <span class="key-label">L</span>
    </div>
    <div class="key black" data-note="D#4" data-key="p" data-piano-target="key" data-action="mousedown->piano#playNote mouseup->piano#stopNote mouseleave->piano#stopNote touchstart->piano#playNote touchend->piano#stopNote">
      <span class="key-label">P</span>
    </div>
    <div class="key white" data-note="E4" data-key=";" data-piano-target="key" data-action="mousedown->piano#playNote mouseup->piano#stopNote mouseleave->piano#stopNote touchstart->piano#playNote touchend->piano#stopNote">
      <span class="key-label">;</span>
    </div>
  </div>

  <div class="recording-controls">
    <button class="btn btn-record" data-piano-target="recordBtn" data-action="click->piano#toggleRecording">
      <span class="record-icon"></span>
      <span data-piano-target="recordLabel">Record</span>
    </button>
    <input type="text" class="recording-name-input hidden" data-piano-target="nameInput" placeholder="Recording name (optional)" />
    <button class="btn btn-save" data-piano-target="saveBtn" data-action="click->piano#saveRecording" disabled>
      Save Recording
    </button>
  </div>

  <div class="recording-status" data-piano-target="status"></div>

  <div class="piano-info">
    <p>Use your keyboard (A-L row + W-P row for sharps) or click/tap the keys!</p>
  </div>
</div>
